<html ng-app="AppName">
  <head>
    <script type="text/javascript" src="angular.min.js"></script> 
    <script type="text/javascript" src="app.js"></script>
  </head>
  <body>
    <section ng-controller="PanelController as panel">
      <ul class="nav nav-pills">
        <li ng-class="{ active: panel.isSelected(1) }">
          <a href ng-click="panel.selectTab(1)">Description</a>
        </li>
        <li ng-class="{ active: panel.isSelected(2) }">
          <a href ng-click="panel.selectTab(2)">Specifications</a>
        </li>
        <li ng-class="{ active: panel.isSelected(3) }">
          <a href ng-click="panel.selectTab(3)">Reviews</a>
        </li>
      </ul> 
      <div class="panel" ng-show="panel.isSelected(1)">
        <h4>Description</h4>
        <p>{{product.description}}</p>
      </div>       
    </section>
    <form name="reviewForm" ng-controller="ReviewController as reviewCtrl"
                            ng-submit="reviewCtrl.addReview(product)">
      <blockquote>
        <b>Stars: {{reviewCtrl.review.stars}}</b>
                  {{reviewCtrl.review.body}}
        <cite>by: {{reviewCtrl.review.author}}</cite>
      </blockquote>
      <select ng-model="reviewCtrl.review.stars">
          <option value="1">1 star</option>
          <option value="2">2 stars</option>
          <option value="3">3 stars</option>
      </select>
      <textarea ng-model="reviewCtrl.review.body"></textarea>
      <label>by:</label>
      <input ng-model="reviewCtrl.review.author" type="email"/>
      <input type="submit" value="Submit"/>
    </form>
  </body>
</html>